@font-face {
font-family: 'Vogue Regular';
font-style: normal;
font-weight: normal;
src: local('Vogue Regular'), url('Vogue.woff') format('woff');
}
body {
    font-family: 'Montserrat',sans-serif;
    background-color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
    /* background-image: url("c.gif"); */
}

html {
  width: 100%;
  height: 100%;
}
.theLogo{
  margin-top: 20vh;
  position: relative;
  text-align: center;
  margin-bottom: 20vh;
}

.bg{
  transform: translateX(-1.5vw);
  height: 70vh;
  width: 30vw;
}

 h1 {
   position: absolute;
   font-family: 'Orbitron', sans-serif;
   font-weight: 100;
   font-size: 8vw;
   color: #fff;
   transform: translate(-8vw, -40vw);

}
h1:hover{
  color:#000;
}

h5 {
  position: absolute;
  font-family: 'Vogue Regular';
  font-weight: 100;
  font-size: 8vw;
  letter-spacing: 0.5vw;
  color: #fff;
  transform: translate(65vw, -40vw);
}
h5:hover{
 color:#000;
}
h6 {
  position: absolute;
  font-family: 'Vogue Regular';
  font-weight: 100;
  font-size: 8vw;
  letter-spacing: 0.5vw;
  color: #fff;
  transform: translate(-8vw, -5vw);

}
h6:hover{
 color:#000;
}

h7 {
position: absolute;
font-family: 'Vogue Regular';
font-weight: 100;
font-size: 8vw;
letter-spacing: 0.5vw;
color: #fff;
transform: translate(5vw, 32vw);
}
h7:hover{
 color:#000;
}

.info{
  font-size: 2vw;
}
.headers{
  font-size: 3.8vw;
}

h4 {
  position: absolute;
  font-family: 'Vogue Regular';
  font-weight: 100;
  font-size: 12vw;
  letter-spacing: 0.5vw;
  color: red;
  transform: translate(18vw, -25vw);
}

h4:hover{
  opacity: 0;
}



.bottom-container {
  text-align: center;
  color: #000;
}

.middle-container {
  text-align: center;
  color: #000;
}
.face {
  margin-left: 1vw;
  margin-right: 2vw;
  width: 6vw;
  height: 6vw;
}
.nav-item{
  padding: 0 18px;
}

h2{
  margin: 3vw auto 2vw auto;
}

.mo{
   position: absolute;
   align-self: center;
   /* background-image: url("me.jpg"); */
   background-repeat: no-repeat;
   background-size: 100% 100%;
   /* padding: 100px; */
   width: 80vw;
   height: 80vw;
   margin:0 12vw;
   margin-right: 2vw;
}

.ntext{
  font-size:1.7vw;
}

@media (max-width:1000px) {
  .bg{
    margin-right: 3vw;
    transform: translateY(-10vh);
    height: 70vh;
    width: 70vw;
    margin-bottom: -30vh;
  }

  h1, h5, h7, h6{
    display: none;
  }
  h4 {
    font-size: 25vw;
    transform: translate(-3vw, -15vh);
  }
  h4:hover{
    opacity: 1;
  }
  .burger{
    margin-top:1vw;
    height: 8vw;
    width: 8vw;
  }
  .face{
    margin-top:1vw;
    height:12vw;
    width:12vw;
  }
  .navraj {
      height: 18vw;
    }

  .ntext{
    font-size:5vw;
  }

  .box{
    padding-bottom: 15vw;
  }
  .mo {
    margin: 12vw;
  }
  .info{
    font-size: 2.5vw;
  }
  .headers{
    font-size: 7vw;
  }
}
